<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="favicon-components.png" />
    <link rel="stylesheet" href="css/style.css">
    <title>Composants Web</title>
</head>
<body>

    <a id="top"></a>
    
    <!-- Menu Top -->
    <section class="menu-top">
        <nav>
            <a href="#">Lien 1</a>
            <a href="#">Lien 2</a>
            <a href="#">Lien 3</a>
        </nav>
    </section>
    <div class="menu-top-button">
        <div></div>
        <div></div>
        <div></div>
    </div>

    <!-- Back to mini projets -->
    <a href="../index.html"><div id="return"><p><</p></div></a>

    <!-- Anchor -->
    <a href="#top" class="anchor">
        <div class="anchor__arrow"></div>
    </a>
    
    <!-- Notification -->
    <section class="notification">
        <h3>Ceci n'est pas une demande de cookie</h3>
        <p>Pour mieux comprendre ce projet il est conseillé de lire <a href="https://github.com/RudyDupuis/Mini_projets/tree/master/Composants-web" target="_blank">le code</a>.</p>
        <span class="notification-cross">╳</span>
    </section>

    <!-- Accordion  -->
    <section class="accordion">
        <details>
            <summary>Section 1</summary>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae dolores cumque placeat excepturi consequatur blanditiis pariatur natus quae vel eum.</p>
        </details>
        <details>
            <summary>Section 2</summary>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur repellat minus qui? Quae blanditiis quo cupiditate officiis iure sit sunt quis eius alias harum facere, minus optio asperiores doloribus! Magni, odio incidunt. Cupiditate, consequuntur ex perferendis praesentium odio dolorum illum minima quia vel, aut iure, deleniti autem molestiae et quam.</p>
        </details>
        <details>
            <summary>Section 3</summary>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo architecto quasi iure.</p>
        </details>
        <details>
            <summary>Section 4</summary>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid facere saepe obcaecati fugit repellendus nam, corrupti hic, explicabo, assumenda tempore nihil consectetur! Quo placeat iste minus quos est, nam nesciunt, distinctio ipsa, quia eum necessitatibus?</p>
        </details>   
    </section>

    <!-- Carousel -->
    <section class="carousel">
        <div class="carousel__img1">
            <h3>Carrottes</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, at?</p>
        </div>
        <div class="carousel__img2">
            <h3>Petits pois</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing.</p>
        </div>
        <div class="carousel__img3">
            <h3>Poivrons</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, suscipit.</p>
        </div>
        <div class="carousel__img4">
            <h3>Tomates</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque officiis et harum?</p>
        </div>
    </section>


    <!-- Modal -->
    <div class="modal-button"><button>Ouvrir le modal</button></div>
    <section class="modal">
        <div>
            <p>Ceci n'est pas une pub indésirable.</p>
            <span class="modal-cross">╳</span>
        </div>
    </section>

    <!-- Loader -->
    <div class="loader-button"><button>Ouvrir le chargement</button></div>
    <section class="loader">
        <div></div>
    </section>

    <!-- Card -->
    <section class="card-grid">
        <div class="card">
            <div id="card-tomato">
                <h3>Tomates</h3>
            </div>
            <button>En Savoir Plus</button>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo perferendis delectus, eius nulla totam autem?</p>
        </div>

        <div class="card">
            <div id="card-pepper">
                <h3>Poivrons</h3>
            </div>
            <button>En Savoir Plus</button>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo perferendis delectus, eius nulla totam autem?</p>
        </div>

        <div class="card">
            <div id="card-pea">
                <h3>Petits pois</h3>
            </div>
            <button>En Savoir Plus</button>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo perferendis delectus, eius nulla totam autem?</p>
        </div>

        <div class="card">
            <div id="card-carrot">
                <h3>Carrottes</h3>
            </div>
            <button>En Savoir Plus</button>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo perferendis delectus, eius nulla totam autem?</p>
        </div>
    </section>
  
    <script src="script.js"></script>
</body>
</html>